body{
    font-family:'BBH Bartle', cursive;
    background:#111;
    color:#eed603;
    margin:0;
    padding:0;
}

/* conteúdo */
.container{
    width:80%;
    margin:auto;
    margin-top:100px;
    text-align:center;
}

/* título */
h1{
    font-size:48px;
    margin-bottom:40px;
}

/* parágrafo */
p{
    font-size:20px;
    line-height:1.6;
}

/* linha inferior */
.bottom-line{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    background:#53534f;
}

/* fotos */
.fotos{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
    height: 450px;
    border-radius: 10px;
    
}